# Ignore Python virtual environment
env/
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore model files larger than recommended size
*.h5
cnn_model.h5

# Ignore audio dataset
dataset/

# Ignore log files
*.log

# Ignore environment variable configuration files
.env
